<section class="feature" style="background-image: url({{ tag.image }});">
  <div class="overlay"></div>
  <div class="grid">
    <div class="grid-row">
      <div class="f-1">
        <div class="feature-details">
          <h3>{{ tag.name }}</h3>
          <p>{{ tag.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-caption">{{ tag.meta_title }}</div>
</section>
