<section class="modal scrollable modal-nav">
  <div class="grid">
    <div class="grid-row">
      <div class="f-1">
        <button id="nav-close" class="modal-close"><i class="icon-close"></i></button>
      </div>
    </div>
  </div>
  <div class="nav">
    <section class="nav-pages">
      <a class="nav-item" href="{{ @blog.url }}">Home</a>/
      <a class="nav-item" href="/resources">Resources</a>
    </section>
    <section class="nav-topics">
      <div class="nav-title">TOPICS</div>
      <a class="nav-item" href="/tag/industrial-revolution">Industrial revolution</a>
      <a class="nav-item" href="/tag/religion">Religion</a>
      <a class="nav-item" href="/tag/historical-sciences">Historical Sciences</a>
    </section>
  </div>
</section>