<nav id="nav">
  <a href="/" class="logo" >
    <svg width="170" height="21" viewBox="0 0 160 21" xmlns="http://www.w3.org/2000/svg">
      <title>LOGO@2x</title>
      <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
        <ellipse class="circle1" stroke="#000" cx="80.611" cy="9.288" rx="9.109" ry="9.288"/>
        <ellipse class="last" stroke="#000" cx="153.936" cy="9.288" rx="5.465" ry="5.573"/>
        <ellipse class="last" stroke="#000" cx="5.465" cy="9.288" rx="5.465" ry="5.573"/>
        <g transform="translate(132.53 3.25)">
          <path class="circle4fill" d="M5.92 12.075c3.27 0 3.869-4.083 3.869-6.038C9.789 4.083 9.19 0 5.92 0 2.65 0 0 2.703 0 6.037c0 3.335 2.65 6.038 5.92 6.038z" fill="#000"/>
          <ellipse class="circle4" stroke="#000" cx="5.921" cy="6.037" rx="5.921" ry="6.037"/>
        </g>
        <g transform="rotate(-180 13.663 7.663)">
          <path class="circle4fill" d="M5.92 12.075c3.27 0 3.869-4.083 3.869-6.038C9.789 4.083 9.19 0 5.92 0 2.65 0 0 2.703 0 6.037c0 3.335 2.65 6.038 5.92 6.038z" fill="none"/>
          <ellipse class="circle4" stroke="#000" cx="5.921" cy="6.037" rx="5.921" ry="6.037"/>
        </g>
        <path class="circle3fill" d="M121.624 2.816c-3.759 0-6.807 2.989-6.807 6.675s3.048 6.674 6.807 6.674V2.816z" fill="#000"/>
        <path class="circle3" d="M114.565 9.49c0 3.687 3.048 6.675 6.807 6.675 3.76 0 6.807-2.988 6.807-6.674 0-3.686-3.047-6.675-6.807-6.675-3.76 0-6.807 2.989-6.807 6.675z" stroke="#000"/>
        <path class="circle3fill" d="M39.143 16.225c3.76 0 6.807-2.988 6.807-6.674 0-3.686-3.048-6.675-6.807-6.675v13.349z" fill="#000"/>
        <path class="circle3" d="M46.202 9.55c0-3.685-3.048-6.674-6.807-6.674-3.76 0-6.807 2.989-6.807 6.675s3.047 6.674 6.807 6.674c3.76 0 6.807-2.988 6.807-6.674z" stroke="#000"/>
        <g transform="translate(94.73 1.393)">
          <path class="circle2fill" d="M.303 7.825c0 4.143 3.678 7.5 7.356 7.5s-3.97 0-3.97-7.5C3.689.324 11.72.324 7.659.324 3.596.324.303 3.682.303 7.824z" fill="#000"/>
          <ellipse class="circle2" stroke="#000" cx="7.742" cy="7.895" rx="7.287" ry="7.431"/>
        </g>
        <g transform="rotate(-180 33.246 8.592)">
          <path class="circle2fill" d="M.303 7.825c0 4.143 3.678 7.5 7.356 7.5s-3.97 0-3.97-7.5C3.689.324 11.72.324 7.659.324 3.596.324.303 3.682.303 7.824z" fill="#000"/>
          <ellipse class="circle2" stroke="#000" cx="7.742" cy="7.895" rx="7.287" ry="7.431"/>
        </g>
      </g>
    </svg>
  </a>
  <button type="text" id="nav-button" class="nav-mobile icon-menu"></button>
  <div class="nav-shade"></div>
  <div class="nav-container">
    {{#foreach navigation}}
      <a class="nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
    {{/foreach}}
  </div>
</nav>
