  <div class="post-content">{{content}}</div>
  <footer class="post-footer">
    <span class="post-clip"></span>
    {{#author}}
      <div class="post-author">Written by <a href="{{url}}">{{name}}</a></div>
    {{/author}}
  </footer>
