{{!< default }}
    
<section class="feature feature-home" style="background-image: url({{ @blog.cover }});">
  <div class="overlay"></div>
  <div class="grid">
    <div class="grid-row">
      <div class="f-1">
        <div class="feature-logo"></div>
        <section class="feature-text">
          <span class="line1">HISTORY</span>
          <span class="line2">more interesting</span>
          <span class="line3">than fiction</span>
        </section>
      </div>
    </div>
  </div>
<div class="feature-caption">Sandro Botticelli, <i>Mary With the Child and Singing Angels</i> (detail), 1477</div>
</section>

<div class="content">      
  <div class="grid">
    <div class="grid-row">
      {{#foreach posts columns=3}}
        <div class="f-1-3 bp-s-1">
          {{> post_tile }}
        </div>
        {{#if @rowEnd}}
          <span class="grid-break"></span>
        {{/if}}
      {{/foreach}}
      
      {{pagination}}
    </div>
  </div>
</div>