{{!< default }}

<header class="header">
  {{navigation}}
</header>
<section class="feature feature-home" style="background-image: url({{ @blog.cover }});">
  <div class="overlay"></div>
  <div class="wrap align-center">
    <figure>
      Understand that your time has a limit set to it. Use it, then, to advance your enlightenment; or it will be gone, and never in your power again.
      <figcaption>- Marcus Aurelius</figcaption>
    </figure>
  </div>
  <div class="caption">Madonna and Child with Eight Angels, Boticelli - 1478</div>
</section>

<div class="content wrap">
  {{#foreach posts}}
    {{> post_tile }}
  {{/foreach}}

  {{pagination}}
</div>
