{{!< default }}

<section class="feature feature-home" style="background-image: url({{ @blog.cover }});">
  <div class="overlay"></div>
  <div class="caption">Some caption goes here</div>
</section>

<div class="content home-content">
  {{#foreach posts}}
    {{> post_tile }}
  {{/foreach}}

  {{pagination}}
</div>
