{{!< default }}
            
<div class="content">      
  <div class="grid">
    <div class="grid-row">
      {{#foreach posts columns=3}}
        <div class="f-1-3 bp-s-1">
          {{> post_tile }}
        </div>
        {{#if @rowEnd}}
          <span class="grid-break"></span>
        {{/if}}
      {{/foreach}}
      
      {{pagination}}
    </div>
  </div>
</div>