{{!< default }}

<header class="header">
  {{navigation}}
</header>
<section class="feature feature-home" style="background-image: url({{ @blog.cover }});">
  <div class="overlay"></div>
  <div class="wrap align-center">
    <figure>
      I am not afraid of an army of lions led by a sheep; I am afraid of an army of sheep led by a lion.
      <figcaption>- Alexander the great</figcaption>
    </figure>
  </div>
  <div class="caption">The lost boys, Boticelli 1708</div>
</section>

<div class="content wrap">
  {{#foreach posts}}
    {{> post_tile }}
  {{/foreach}}

  
</div>
<script type="text/javascript">
  $.get(ghost.url.api('posts', {limit: 2})).done(function (data) {
    console.log('posts', data.posts);
  }).fail(function (err){
    console.log(err);
  });
</script>