//---------------
// Navigation
//---------------
.nav {
  margin: rem(100) auto 0;
  max-width: rem(500);
  
  .nav-title {
    color: $light-grey;
    border-bottom: 1px solid $smoke;
    display: inline-block;
    font-size: 13px;
    margin: rem(50) 0;
    padding: rem(10) rem(100);
  }
  
  .nav-item {
    margin-bottom: rem(40);
    text-align: center;
    font-family: $semibold;
    color: $dark;
    &:hover {
      color: $warm;
      text-decoration: none;
    }
  }
  
  .nav-pages {
    text-align: center;
    .nav-item {
      display: inline-block;
      margin: 0 rem(30);
    }
  }
  
  .nav-topics {
    text-align: center;

    .nav-item {
      display: block;
      font-size: 32px;
      font-family: $bold;
      letter-spacing: -1px;
    }
  }
}