//---------------
// Navigation
//---------------
nav {
  left: rem(80);
  top: 50%;
  margin-top: rem(-98);
  position: absolute;
  z-index: 10;

  .logo {
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    img {
      margin-bottom: rem(20);
      width: rem(160);
    }
  }

  a {
    border-radius: 50px;
    color: $white;
    display: block;
    font-size: 13px;
    font-family: $bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: rem(16) rem(30);
    text-align: center;

    &:hover {
      background-color: rgba(0,0,0,0.2);
      color: $contrast;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
