.pagination {
  
  span, i {
    display: inline-block;
    vertical-align: middle;
  }
  
  i {
    font-size: 24px;
  }
  
  .pagination-prev,
  .pagination-next {
    margin-top: rem(60);
    font-size: 13px;
    font-family: $semibold;
    text-transform: uppercase;
    padding: rem(10) rem(16) rem(10) rem(10);
  }
  
  .pagination-next {
    float: right;
    padding: rem(10) rem(10) rem(10) rem(16);
  }
}