.p {
  position: relative;
  margin-bottom: rem(60);

  p {
    font-size: 20px;
    color: #333333;
    line-height: 1.6;
  }
  
  .p-text1 {
    color: $black;
    display: inline-block;
    font-size: 30px;
    font-family: $bold;
    margin-bottom: rem(8);
    letter-spacing: -1px;
    
    &:hover {
      color: $contrast;
    }
  }

  .p-tag {
    background-color: $smoke;
    font-size: rem(13);
    color: $contrast;
    &:hover {
      color: $contrast;
      background-color: #EEEEEE;
    }
  }
  
  .p-tag-stories,
  .p-tag-teaching  {
    display: none;
  }

  .p-details {
    font-size: 14px;
    font-family: $regular;
    margin-bottom: rem(8);
    color: $dark-grey;
  }
}

.p-next {
  background-color: $smoke;
  padding: rem(40) 0;
  margin-bottom: 0;
  
  & > div {
    max-width: rem(740);
    margin: auto;
  }
  
  h4 {
    color: #C8C8C8;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: rem(10);
    text-transform: uppercase;
  }
  
  .p-image {
    float: left;
    width: rem(230);
    position: relative;
    
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
    }
    
    img {
      display: block;
      width: 100%;
    }
  }
  
  .p-details {
    margin-left: rem(250);
  }
}

@include bp(small) {
  .p-next {
    padding: 0;
    overflow: hidden;
    
    .p-image {
      float: none;
      width: 100%;
    }
    
    .p-details {
      position: absolute;
      bottom: rem(20);
      left: rem(20);
      margin-left: 0;
      z-index: 2;
      
      h4,
      .p-text1 {
        color: $white;
      }

      .p-text1 {
        margin-bottom: 0;
      }
    }

    .p-excerpt {
      display: none;
    }
  }
}

//-------------------
//-------------------
.post {

  .post-content > p:first-child:first-of-type::first-letter {
    color: $dark-grey;
    float: left;
    font-size: rem(105);
    line-height: 0.9em;
    padding-top: 0;
    padding-right: rem(16);
    padding-left: rem(2);
    font-family: $regular;
  }

  .post-content > p:first-child:first-line {
    font-family: $boldnoto;
  }

  .post-image {
    width: 100%;
    margin: 0 0 rem(30) 0;
  }

  .post-tag {
    text-align: center;
    margin-bottom: rem(10);

    a {
      color: $blue;
      font-size: 14px;
      display: inline-block;
    }
  }

  .post-date {
    display: block;
    font-size: 13px;
    font-family: $regular2;
  }

  .post-header {
    margin-bottom: rem(20);

    h1 {
      line-height: 1.2;
      margin-bottom: rem(6);
    }
  }

  .post-author {
    display: block;
    text-align: center;
  }

}

.post-footer {
  padding: rem(100) 0 0 0;
  text-align: center;

  .bt {
    margin-bottom: rem(100);
    letter-spacing: 2px;
  }
}

//------------------
// post formatting
//------------------
.post-content {

  p {
    position: relative;
    
    em {
      font-family: $italic;
      font-style: normal;
    }
  }

  span {
    font-size: 12px;
    color: #999;
    position: absolute;
    right: rem(-190);
    bottom: 0;
    width: rem(130);
  }

  label {
    color: $light-grey;
    display: block;
    font-size: 13px;
    line-height: 1.4;

    position: absolute;
    right: rem(-160);
    width: rem(140);
    bottom: rem(10);
  }

  blockquote {
    padding: 0 rem(20);
    margin-bottom: rem(40);
    position: relative;
    display: block;
    border-left: 4px solid rgba(0,0,0,0.2);
    font-family: $italic;

    p {
      font-size: 18px;
      font-family: $italic;
      color: $dark-grey;
      margin-bottom: rem(5);
      line-height: 1.3;
      &:last-child {
        margin-bottom: 0;
      }
    }

    figcaption {
      color: $dark-grey;
      font-size: 13px;
      text-align: left;
      margin: 0;
    }
  }

  img {
    width: 100%;
  }
  
  // captions
  figcaption {
    color: $dark-grey;
    font-size: 12px;
    margin-top: rem(-20);
    margin-bottom: rem(30);
    text-align: right;
  }

  section {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: rem(40);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  hr {
    display: block;
    height: 4px;
    border: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: rem(160);
    margin: rem(60) auto;
  }
}


@include bp(small) {
  .post {
    .post-content {
      padding: 0 rem(16);
    }
  }
  
  .p {
    .p-text1 {
      font-size: 24px;
      line-height: 1.3;
    }
  }
}