.p {
  position: relative;
  margin-bottom: rem(60);

  .p-text1 {
    color: $black;
    display: inline-block;
    font-size: 30px;
    font-family: $bold;
    margin-bottom: rem(8);
    letter-spacing: -1px;
    &:hover {
      color: $contrast;
    }

  }

  .p-tag {
    font-size: rem(13);
    color: $dark-grey;
    &:hover {
      color: $contrast;
    }
  }
  
  .p-tag-stories,
  .p-tag-teaching  {
    display: none;
  }

  .p-details {
    font-size: 14px;
    font-family: $regular2;
    margin-bottom: rem(8);
    color: $dark-grey;
  }
}


//-------------------
//-------------------
.post {

  .post-content {
    // padding: rem(50) 0;
  }

  .post-content > p:first-child:first-of-type::first-letter {
    color: $dark-grey;
    float: left;
    font-size: rem(105);
    line-height: 0.9em;
    padding-top: 0;
    padding-right: rem(16);
    padding-left: rem(2);
    font-family: $regular;
  }

  .post-content > p:first-child:first-line {
    font-family: $boldnoto;
  }

  .post-image {
    width: 100%;
    margin: 0 0 rem(30) 0;
  }

  .post-tag {
    text-align: center;
    margin-bottom: rem(10);

    a {
      color: $blue;
      font-size: 14px;
      display: inline-block;
    }
  }

  .post-date {
    display: block;
    font-size: 13px;
    font-family: $regular2;
  }

  .post-header {
    margin-bottom: rem(20);

    h1 {
      line-height: 1.2;
      margin-bottom: rem(6);
    }
  }

  .post-author {
    display: block;
    text-align: center;
  }


  .post-footer {
    font-family: $regular;
    font-size: 14px;
    padding-bottom: rem(60);
    text-align: center;
    color: #999;

    .post-clip {
      background-color: $smoke;
      width: rem(100);
      height: 2px;
      display: block;
      margin: 0 auto rem(10);
    }

  }

}

//------------------
// post formatting
//------------------
.post-content {

  p {
    position: relative;
  }

  span {
    font-size: 12px;
    color: #999;
    position: absolute;
    right: rem(-190);
    bottom: 0;
    width: rem(130);
  }

  label {
    color: $light-grey;
    display: block;
    font-size: 13px;
    line-height: 1.4;

    position: absolute;
    right: rem(-160);
    width: rem(140);
    bottom: rem(10);
  }

  blockquote {
    padding: 0 rem(20);
    margin-bottom: rem(40);
    position: relative;
    display: block;
    border-left: 4px solid rgba(62, 165, 206, 0.2);
    font-family: $italic;

    p {
      font-size: 18px;
      font-family: $italic;
      color: $blue;
      margin-bottom: rem(5);
      line-height: 1.3;
      &:last-child {
        margin-bottom: 0;
      }
    }

    figcaption {
      color: $blue;
      font-size: 13px;
      &:before {
        content: '-';
        display: inline-block;
        margin-right: rem(5);
      }
    }
  }


  img {
    width: 100%;
  }

  section {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: rem(40);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  hr {
    display: block;
    height: 4px;
    border: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: rem(160);
    margin: rem(60) auto;
  }
}


@include bp(small) {

}