html, body, div, img, ol, ul, li, a, h1, h2, h3, h4, h5, h6, p,
header, footer, section, article, figure, figcaption, button, input, blockquote, textarea {
  border: 0;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

html {
  font-size: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
  /* IE11 */ }

body {
  font-size: 1rem;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  height: auto; }

a {
  color: #333333;
  text-decoration: none; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

input::-ms-clear {
  display: none; }

ul, li {
  list-style: none; }

.header {
  height: 33.75rem;
  position: absolute;
  width: 100%; }

.home-template .feature {
  background-position: center 0; }

.feature {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 33.75rem;
  position: relative; }
  .feature figure {
    color: #ffffff;
    font-size: 2.125rem;
    max-width: 43.125rem;
    position: relative;
    z-index: 2; }
    .feature figure:first-child:first-of-type::first-letter {
      color: #ffffff;
      float: left;
      font-size: 5.5625rem;
      line-height: 0.9em;
      padding-top: 0.4375rem;
      padding-right: 1rem;
      padding-left: 0.125rem;
      font-family: "noto_serifregular"; }
    .feature figure:first-line {
      font-family: "noto_serifbold"; }
    .feature figure figcaption {
      font-family: "noto_serifbold";
      font-size: 0.875rem;
      margin-top: 0.625rem; }
  .feature .caption {
    right: 0;
    bottom: 0; }
  .feature .feature-text {
    color: #ffffff;
    position: absolute;
    bottom: 2.5rem;
    max-width: 45rem; }
  .feature .text-1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 0; }
  .feature .text-2 {
    font-size: 13px; }

@media (min-width: 0px) and (max-width: 700px) {
  .feature {
    height: 17.5rem;
    background-size: auto 140%; }
    .feature .feature-details {
      bottom: 2.5rem;
      max-width: 87%; }
  .feature-home {
    background-position: center 28%;
    background-size: 134% auto; }
    .feature-home .feature-logo {
      height: 21px;
      margin-top: 3rem; }
    .feature-home .feature-text .line1 {
      font-size: 20px; }
      .feature-home .feature-text .line1:before, .feature-home .feature-text .line1:after {
        width: 90%; }
    .feature-home .feature-text .line2 {
      font-size: 42px; }
    .feature-home .feature-text .line3 {
      font-size: 21px; } }

@media (min-width: 0px) and (max-width: 700px) {
  .feature .wrap {
    padding: 0 1rem; }
  .feature figure {
    font-size: 20px; }
    .feature figure:first-child:first-of-type::first-letter {
      color: #ffffff;
      float: left;
      font-size: 3.375rem;
      line-height: 0.9em;
      padding-top: 0.1875rem;
      padding-right: 0.5625rem;
      padding-left: 0.125rem;
      font-family: "noto_serifregular"; }
  .feature .text-1 {
    font-size: 30px; } }

.footer {
  background-color: #ffffff;
  border-top: 1px solid #f5f5f5;
  color: #C8C8C8;
  font-family: "noto_serifregular";
  font-size: 0.75rem;
  padding: 1.25rem 0 0.625rem;
  text-align: center; }
  .footer .footer-legal {
    text-align: center;
    line-height: 3.125rem; }
  .footer .footer-logo {
    width: 10rem; }

.f-1, .f-1-2, .f-2-3, .f-1-3, .f-1-4, .f-3-4 {
  float: left; }

.grid {
  margin: 0 auto;
  max-width: 72.5rem; }
  .grid:after {
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block; }

.grid-row {
  padding: 0 0.3125rem; }
  .grid-row > div {
    position: relative;
    padding: 0 0.3125rem; }

.grid-break {
  display: block;
  clear: both; }

.f-1 {
  width: 100%; }

.f-1-2 {
  width: 50%; }

.f-2-3 {
  width: 66.66666666666666%; }

.f-1-3 {
  width: 33.33333333333333%; }

.f-1-4 {
  width: 25%; }

.f-3-4 {
  width: 75%; }

.f-5-6 {
  width: 83.33333333333334%; }

@media (min-width: 0px) and (max-width: 700px) {
  .bp-s-1 {
    width: 100%; }
  .grid-row {
    padding: 0 0.3125rem; } }

.content {
  padding: 3.75rem 0; }

.wrap {
  max-width: 46.25rem;
  margin: auto; }

@media (min-width: 0px) and (max-width: 700px) {
  .content {
    padding: 1.25rem 1.25rem; } }

.push-down {
  padding-top: 3.75rem; }

.align-center {
  display: flex;
  align-items: center;
  height: 100%; }

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */ }

.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifregular';
  src: url("../fonts/notoserif-regular-webfont.eot");
  src: url("../fonts/notoserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/notoserif-regular-webfont.svg#noto_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold';
  src: url("../fonts/notoserif-bold-webfont.eot");
  src: url("../fonts/notoserif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/notoserif-bold-webfont.woff") format("woff"), url("../fonts/notoserif-bold-webfont.ttf") format("truetype"), url("../fonts/notoserif-bold-webfont.svg#noto_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold_italic';
  src: url("../fonts/notoserif-bolditalic-webfont.eot");
  src: url("../fonts/notoserif-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bolditalic-webfont.woff2") format("woff2"), url("../fonts/notoserif-bolditalic-webfont.woff") format("woff"), url("../fonts/notoserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/notoserif-bolditalic-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifitalic';
  src: url("../fonts/notoserif-italic-webfont.eot");
  src: url("../fonts/notoserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/notoserif-italic-webfont.woff") format("woff"), url("../fonts/notoserif-italic-webfont.ttf") format("truetype"), url("../fonts/notoserif-italic-webfont.svg#noto_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hmitf';
  src: url("../fonts/hmitf.eot?19mf6y");
  src: url("../fonts/hmitf.eot?19mf6y#iefix") format("embedded-opentype"), url("../fonts/hmitf.ttf?19mf6y") format("truetype"), url("../fonts/hmitf.woff?19mf6y") format("woff"), url("../fonts/hmitf.svg?19mf6y#hmitf") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hmitf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e604"; }

.icon-menu:before {
  content: "\e608"; }

.icon-tick:before {
  content: "\e60e"; }

.icon-search:before {
  content: "\e612"; }

body, .bt, p, ul, ol {
  font-family: "noto_serifregular"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "open_sansbold";
  letter-spacing: -1px; }

.post a {
  background-color: #f5f5f5;
  color: #FF4F4F;
  text-decoration: none; }
  .post a:hover {
    background-color: #EEEEEE;
    color: #FF4F4F; }

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  font-family: "open_sansbold";
  letter-spacing: -1px;
  margin-bottom: 0.75rem; }

.post h1 {
  font-size: 46px; }

.post h2 {
  font-size: 38px; }

.post h3 {
  font-size: 32px; }

.post h4 {
  font-size: 24px; }

.post h5 {
  font-size: 20px; }

.post h6 {
  font-size: 14px; }

.post i {
  font-family: "noto_serifitalic";
  font-style: normal; }

.post p, .post ul, .post ol {
  font-size: 20px;
  color: #333333;
  margin-bottom: 1.875rem;
  line-height: 1.6; }

.post ul, .post ol {
  padding-left: 1.25rem; }
  .post ul li, .post ol li {
    list-style: disc;
    margin-left: 1.875rem; }

.post ol li {
  list-style: decimal; }

.post strong {
  font-family: "open_sansbold";
  font-weight: normal; }

.post mark {
  background-color: rgba(62, 165, 206, 0.2); }

.bt {
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #C8C8C8;
  color: #C8C8C8;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 1rem 2.125rem;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-family: "open_sansbold";
  outline: 0;
  text-transform: uppercase;
  -webkit-appearance: none; }

.bt:hover {
  border-color: #FF4F4F;
  color: #FF4F4F;
  cursor: pointer; }

.bt:active {
  background-color: #FF4F4F;
  color: #ffffff; }

.p {
  position: relative;
  margin-bottom: 3.75rem; }
  .p p {
    font-size: 20px;
    color: #333333;
    line-height: 1.6; }
  .p .p-text1 {
    color: #333333;
    display: inline-block;
    font-size: 30px;
    font-family: "open_sansbold";
    margin-bottom: 0.5rem;
    letter-spacing: -1px; }
    .p .p-text1:hover {
      color: #FF4F4F; }
  .p .p-tag {
    background-color: #f5f5f5;
    font-size: 0.8125rem;
    color: #FF4F4F; }
    .p .p-tag:hover {
      color: #FF4F4F;
      background-color: #EEEEEE; }
  .p .p-tag-stories,
  .p .p-tag-teaching {
    display: none; }
  .p .p-details {
    font-size: 14px;
    font-family: "noto_serifregular";
    margin-bottom: 0.5rem;
    color: #888888; }

.p-next {
  background-color: #f5f5f5;
  padding: 2.5rem 0;
  margin-bottom: 0; }
  .p-next > div {
    max-width: 46.25rem;
    margin: auto; }
  .p-next h4 {
    color: #C8C8C8;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 0.625rem;
    text-transform: uppercase; }
  .p-next .p-image {
    float: left;
    width: 14.375rem;
    position: relative; }
    .p-next .p-image:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.3)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
      /* W3C */ }
    .p-next .p-image img {
      display: block;
      width: 100%; }
  .p-next .p-details {
    margin-left: 15.625rem; }

@media (min-width: 0px) and (max-width: 700px) {
  .p-next {
    padding: 0;
    overflow: hidden; }
    .p-next .p-image {
      float: none;
      width: 100%; }
    .p-next .p-details {
      position: absolute;
      bottom: 1.25rem;
      left: 1.25rem;
      margin-left: 0;
      z-index: 2; }
      .p-next .p-details h4,
      .p-next .p-details .p-text1 {
        color: #ffffff; }
      .p-next .p-details .p-text1 {
        margin-bottom: 0; }
    .p-next .p-excerpt {
      display: none; } }

.post .post-content > p:first-child:first-of-type::first-letter {
  color: #888888;
  float: left;
  font-size: 6.5625rem;
  line-height: 0.9em;
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 0.125rem;
  font-family: "noto_serifregular"; }

.post .post-content > p:first-child:first-line {
  font-family: "noto_serifbold"; }

.post .post-image {
  width: 100%;
  margin: 0 0 1.875rem 0; }

.post .post-tag {
  text-align: center;
  margin-bottom: 0.625rem; }
  .post .post-tag a {
    color: #1489E6;
    font-size: 14px;
    display: inline-block; }

.post .post-date {
  display: block;
  font-size: 13px;
  font-family: "open_sansregular"; }

.post .post-header {
  margin-bottom: 1.25rem; }
  .post .post-header h1 {
    line-height: 1.2;
    margin-bottom: 0.375rem; }

.post .post-author {
  display: block;
  text-align: center; }

.post-footer {
  padding: 6.25rem 0 0 0;
  text-align: center; }
  .post-footer .bt {
    margin-bottom: 6.25rem;
    letter-spacing: 2px; }

.post-content p {
  position: relative; }
  .post-content p em {
    font-family: "noto_serifitalic";
    font-style: normal; }

.post-content span {
  font-size: 12px;
  color: #999;
  position: absolute;
  right: -11.875rem;
  bottom: 0;
  width: 8.125rem; }

.post-content label {
  color: #9B9B9B;
  display: block;
  font-size: 13px;
  line-height: 1.4;
  position: absolute;
  right: -10rem;
  width: 8.75rem;
  bottom: 0.625rem; }

.post-content blockquote {
  padding: 0 1.25rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: block;
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  font-family: "noto_serifitalic"; }
  .post-content blockquote p {
    font-size: 18px;
    font-family: "noto_serifitalic";
    color: #888888;
    margin-bottom: 0.3125rem;
    line-height: 1.3; }
    .post-content blockquote p:last-child {
      margin-bottom: 0; }
  .post-content blockquote figcaption {
    color: #888888;
    font-size: 13px;
    text-align: left;
    margin: 0; }

.post-content img {
  width: 100%; }

.post-content figcaption {
  color: #888888;
  font-size: 12px;
  margin-top: -1.25rem;
  margin-bottom: 1.875rem;
  text-align: right; }

.post-content section {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 2.5rem; }

.post-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.post-content hr {
  display: block;
  height: 4px;
  border: 0;
  padding: 0;
  background-color: #f5f5f5;
  width: 10rem;
  margin: 3.75rem auto; }

@media (min-width: 0px) and (max-width: 700px) {
  .post .post-content {
    padding: 0 1rem; }
  .p .p-text1 {
    font-size: 24px;
    line-height: 1.3; } }

.nav-global nav {
  position: relative;
  margin-top: 0;
  height: 5rem;
  left: auto; }
  .nav-global nav .logo {
    height: 5rem;
    margin: 0 2.5rem; }
  .nav-global nav .logo, .nav-global nav a {
    display: inline-block;
    vertical-align: middle;
    line-height: 5rem; }
  .nav-global nav a {
    padding: 0 1.25rem; }

nav {
  left: 5rem;
  top: 50%;
  margin-top: -8.4375rem;
  position: absolute;
  z-index: 10; }
  nav .logo {
    background: url("../images/logo_white@2x.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 4.375rem;
    width: 10rem;
    padding: 0; }
    nav .logo:hover {
      background-color: transparent !important; }
    nav .logo img {
      margin-bottom: 1.25rem;
      width: 10rem; }
  nav a {
    border-radius: 50px;
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-family: "open_sansbold";
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.875rem;
    text-align: center; }
    nav a:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #FF4F4F;
      cursor: pointer;
      text-decoration: none; }

.nav-container {
  display: inline-block; }

.post-template nav .logo {
  background: url("../images/logo_dark@2x.png") no-repeat;
  background-size: 100% auto;
  background-position: center; }

.post-template nav a {
  color: #888888; }
  .post-template nav a:hover {
    background-color: transparent;
    color: #FF4F4F; }

.nav-shade,
.nav-mobile {
  display: none; }

@media (max-width: 1250px) {
  .header,
  nav {
    height: 5rem;
    position: relative; }
  nav {
    margin-top: 0;
    left: auto;
    top: auto; }
    nav .logo, nav a {
      display: inline-block;
      vertical-align: middle;
      line-height: 5rem; }
    nav .logo {
      background: url("../images/logo_dark@2x.png") no-repeat;
      background-size: 100% auto;
      background-position: center;
      height: 5rem;
      margin: 0 2.5rem; }
    nav a {
      color: #888888;
      padding: 0 1.25rem; }
      nav a:hover {
        background-color: transparent;
        color: #FF4F4F; } }

@media (min-width: 0px) and (max-width: 700px) {
  nav .nav-mobile,
  nav .nav-shade {
    display: block; }
  nav .nav-mobile {
    background-color: transparent;
    font-size: 32px;
    margin-top: -1rem;
    position: absolute;
    right: 1.25rem;
    top: 50%; }
    nav .nav-mobile:active {
      color: #FF4F4F !important; }
    nav .nav-mobile:hover {
      cursor: pointer; }
  nav .nav-shade {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms ease 0s, visibility 0s linear 200ms;
    -moz-transition: opacity 200ms ease 0s, visibility 0s linear 200ms;
    -o-transition: opacity 200ms ease 0s, visibility 0s linear 200ms;
    transition: opacity 200ms ease 0s, visibility 0s linear 200ms; }
  nav .logo {
    margin: 0 1.25rem !important; }
  nav .nav-container {
    background-color: #202020;
    padding-top: 5rem;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 18.75rem;
    z-index: 2;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    nav .nav-container a {
      border-bottom: 1px solid #2E2E2E;
      border-radius: 0;
      display: block; }
  nav.active .nav-mobile {
    color: #888;
    z-index: 3; }
    nav.active .nav-mobile:before {
      content: "\e604"; }
  nav.active .nav-shade {
    opacity: 0.4;
    visibility: visible;
    -webkit-transition: opacity 200ms ease 0s, visibility 0s linear 0s;
    -moz-transition: opacity 200ms ease 0s, visibility 0s linear 0s;
    -o-transition: opacity 200ms ease 0s, visibility 0s linear 0s;
    transition: opacity 200ms ease 0s, visibility 0s linear 0s; }
  nav.active .nav-container {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

.pagination span, .pagination i {
  display: inline-block;
  vertical-align: middle; }

.pagination i {
  font-size: 24px; }

.pagination .pagination-prev,
.pagination .pagination-next {
  margin-top: 3.75rem;
  font-size: 13px;
  font-family: "open_sanssemibold";
  text-transform: uppercase;
  padding: 0.625rem 1rem 0.625rem 0.625rem; }

.pagination .pagination-next {
  float: right;
  padding: 0.625rem 0.625rem 0.625rem 1rem; }

.page-resources .content {
  padding-top: 2.5rem; }

.page-resources .section {
  margin-top: -10rem; }

.page-resources .feature {
  background-position: center -130px;
  background-size: 100% auto; }
  .page-resources .feature .feature-details {
    bottom: 8.125rem; }

.page-resources h1, .page-resources aside h1 {
  text-transform: uppercase;
  font-family: "open_sanslight";
  font-size: 13px; }

.page-resources h1 {
  font-size: 24px; }

.page-resources h2 {
  font-size: 20px;
  margin-bottom: 0.625rem; }

.page-resources ul, .page-resources li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px; }

.page-resources ul {
  margin-bottom: 1.875rem; }

.page-resources aside {
  width: 13.75rem;
  padding-left: 1.875rem; }
  .page-resources aside h1 {
    margin-top: 1.875rem; }
  .page-resources aside h1:first-child {
    margin-top: 0; }
  .page-resources aside h2 {
    font-size: 14px;
    font-family: "noto_serifregular";
    margin-bottom: 0.5rem;
    letter-spacing: 0; }
    .page-resources aside h2:hover {
      color: #1489E6;
      cursor: pointer; }

.page-resources ul {
  margin-bottom: 1.875rem;
  font-size: 14px;
  width: 100%; }
  .page-resources ul li {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: -1px;
    padding: 0.625rem 0; }
  .page-resources ul a {
    float: left;
    min-width: 12.5rem; }
  .page-resources ul span {
    display: block;
    margin-left: 12.5rem; }

.paper {
  background-color: #ffffff;
  padding: 2.5rem;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.caption {
  font-size: 12px;
  font-family: "noto_serifbold";
  color: #ffffff;
  position: absolute;
  padding: 1rem 1.5rem; }

@media (min-width: 0px) and (max-width: 700px) {
  .caption {
    font-size: 10px; } }
