html, body, div, img, ol, ul, li, a, h1, h2, h3, h4, h5, h6, p,
header, footer, section, article, figure, figcaption, button, input, blockquote, textarea {
  border: 0;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

html {
  font-size: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
  /* IE11 */ }

body {
  font-size: 1rem;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  height: auto; }

a {
  color: #333333;
  text-decoration: none; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

input::-ms-clear {
  display: none; }

ul, li {
  list-style: none; }

.header {
  height: 38.125rem;
  position: absolute;
  width: 100%; }

.feature {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto; }
  .feature .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0; }
  .feature .caption {
    right: 0;
    bottom: 0; }

.feature {
  background-position: center 0%;
  background-size: 100% auto;
  height: 38.125rem;
  position: relative; }

@media (min-width: 0px) and (max-width: 700px) {
  .feature {
    height: 17.5rem;
    background-size: auto 140%; }
    .feature .feature-details {
      bottom: 2.5rem;
      max-width: 87%; }
  .feature-home {
    background-position: center 28%;
    background-size: 110% auto; }
    .feature-home .feature-logo {
      height: 21px;
      margin-top: 3rem; }
    .feature-home .feature-text .line1 {
      font-size: 20px; }
      .feature-home .feature-text .line1:before, .feature-home .feature-text .line1:after {
        width: 90%; }
    .feature-home .feature-text .line2 {
      font-size: 42px; }
    .feature-home .feature-text .line3 {
      font-size: 21px; } }

.footer {
  background-color: #ffffff;
  border-top: 1px solid #f5f5f5;
  color: #C8C8C8;
  font-family: "noto_serifregular";
  font-size: 0.75rem;
  padding: 1.25rem 0 0.625rem;
  text-align: center; }
  .footer .footer-legal {
    text-align: center;
    line-height: 3.125rem; }
  .footer .footer-logo {
    width: 10rem; }

.f-1, .f-1-2, .f-2-3, .f-1-3, .f-1-4, .f-3-4 {
  float: left; }

.grid {
  margin: 0 auto;
  max-width: 72.5rem; }
  .grid:after {
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block; }

.grid-row {
  padding: 0 0.3125rem; }
  .grid-row > div {
    position: relative;
    padding: 0 0.3125rem; }

.grid-break {
  display: block;
  clear: both; }

.f-1 {
  width: 100%; }

.f-1-2 {
  width: 50%; }

.f-2-3 {
  width: 66.66666666666666%; }

.f-1-3 {
  width: 33.33333333333333%; }

.f-1-4 {
  width: 25%; }

.f-3-4 {
  width: 75%; }

.f-5-6 {
  width: 83.33333333333334%; }

@media (min-width: 701px) and (max-width: 1024px) {
  .bp-t-1-2 {
    width: 50%; } }

@media (min-width: 0px) and (max-width: 700px) {
  .bp-s-1 {
    width: 100%; }
  .grid-row {
    padding: 0 0.3125rem; } }

.content {
  padding: 5rem 0 4.375rem 0; }

.home-content {
  max-width: 50rem;
  margin: auto; }

.overlay {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */ }

.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifregular';
  src: url("../fonts/notoserif-regular-webfont.eot");
  src: url("../fonts/notoserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/notoserif-regular-webfont.svg#noto_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold';
  src: url("../fonts/notoserif-bold-webfont.eot");
  src: url("../fonts/notoserif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/notoserif-bold-webfont.woff") format("woff"), url("../fonts/notoserif-bold-webfont.ttf") format("truetype"), url("../fonts/notoserif-bold-webfont.svg#noto_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold_italic';
  src: url("../fonts/notoserif-bolditalic-webfont.eot");
  src: url("../fonts/notoserif-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bolditalic-webfont.woff2") format("woff2"), url("../fonts/notoserif-bolditalic-webfont.woff") format("woff"), url("../fonts/notoserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/notoserif-bolditalic-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifitalic';
  src: url("../fonts/notoserif-italic-webfont.eot");
  src: url("../fonts/notoserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/notoserif-italic-webfont.woff") format("woff"), url("../fonts/notoserif-italic-webfont.ttf") format("truetype"), url("../fonts/notoserif-italic-webfont.svg#noto_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?iwqzjk");
  src: url("../fonts/icomoon.eot?#iefixiwqzjk") format("embedded-opentype"), url("../fonts/icomoon.woff?iwqzjk") format("woff"), url("../fonts/icomoon.ttf?iwqzjk") format("truetype"), url("../fonts/icomoon.svg?iwqzjk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hamburger:before {
  content: "\e600"; }

.icon-favorite:before {
  content: "\e619"; }

.icon-location-on:before {
  content: "\e614"; }

.icon-keyboard-arrow-left:before {
  content: "\e601"; }

.icon-keyboard-arrow-right:before {
  content: "\e602"; }

.icon-close:before {
  content: "\e60a"; }

body, .bt, p, ul, ol, a {
  font-family: "noto_serifregular"; }

a {
  color: #47E3C2; }
  a:hover {
    color: #47E3C2;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: "open_sansbold";
  letter-spacing: -1px;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 14px; }

i {
  font-family: "noto_serifitalic";
  font-style: normal; }

p, ul, ol {
  font-size: 16px;
  color: #333333;
  margin-bottom: 1.875rem;
  line-height: 1.6; }

ul, ol {
  padding-left: 1.25rem; }
  ul li, ol li {
    list-style: disc;
    margin-left: 1.875rem; }

ol li {
  list-style: decimal; }

strong {
  font-family: "open_sansbold";
  font-weight: normal; }

mark {
  background-color: rgba(62, 165, 206, 0.2); }

.tile .tile-label {
  color: #ffffff;
  font-size: 28px;
  font-family: "open_sansbold"; }
  .tile .tile-label:hover {
    text-decoration: none; }

.tile .tile-tag {
  color: #ffffff;
  font-family: "noto_serifregular";
  font-size: 13px; }

.tile .tile-time {
  color: #ffffff;
  font-family: "noto_serifregular";
  font-size: 12px; }

.footer .footer-legal {
  font-size: 12px; }

.feature {
  color: #ffffff; }
  .feature h3 {
    font-family: "open_sansbold";
    margin-bottom: 0.375rem;
    letter-spacing: -1px; }
  .feature p {
    color: #ffffff;
    font-size: 14px;
    font-family: "noto_serifregular";
    margin-bottom: 0; }
  .feature .feature-caption {
    font-size: 13px;
    font-family: "noto_serifregular"; }

@media (min-width: 0px) and (max-width: 700px) {
  .tile .tile-label {
    font-size: 24px; }
  p, ul, ol {
    font-size: 14px;
    margin-bottom: 1.25rem;
    line-height: 1.6; }
  .feature h3 {
    font-family: "open_sansbold";
    margin-bottom: 0; }
  .feature .feature-caption, .feature p {
    font-size: 10px; }
  .feature .feature-caption {
    padding: 0.5rem; } }

.bt {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 0.75rem 1.875rem;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  outline: 0;
  -webkit-appearance: none; }

.bt:hover {
  background-color: #ffffff;
  color: #707070;
  cursor: pointer;
  text-decoration: none; }

.bt:active {
  background-color: #FCF9F9;
  color: #707070; }

.bt-dark {
  color: #9B9B9B;
  border: 1px solid #9B9B9B; }
  .bt-dark:hover {
    background-color: #f5f5f5; }

.p {
  position: relative; }
  .p .p-time {
    font-family: "noto_serifregular"; }
  .p .p-text1 {
    color: #333333;
    display: inline-block;
    font-size: 30px;
    font-family: "open_sansbold";
    margin-bottom: 0.5rem; }
    .p .p-text1:hover {
      color: #47E3C2; }
  .p .p-tag {
    color: #C8C8C8;
    font-size: 0.8125rem; }

.post-template .grid-narrow {
  max-width: 52%; }

.post .post-image {
  width: 100%;
  margin: 0 0 1.875rem 0; }

.post .post-tag {
  text-align: center;
  margin-bottom: 0.625rem; }
  .post .post-tag a {
    color: #3EA5CE;
    font-size: 14px;
    display: inline-block; }

.post .post-header {
  margin-top: 3.125rem; }
  .post .post-header h1 {
    text-align: center;
    margin-bottom: 1.875rem; }

.post .post-author {
  display: block;
  text-align: center; }
  .post .post-author a {
    color: #3EA5CE; }

.post .post-content {
  padding-bottom: 3.75rem; }

.post .post-footer {
  font-family: "noto_serifregular";
  font-size: 14px;
  padding-bottom: 3.75rem;
  text-align: center;
  color: #999; }
  .post .post-footer .post-clip {
    background-color: #f5f5f5;
    width: 6.25rem;
    height: 2px;
    display: block;
    margin: 0 auto 0.625rem; }
  .post .post-footer time {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.post-content a {
  color: #3EA5CE; }
  .post-content a:hover {
    color: #2481a5;
    text-decoration: underline; }

.post-content p {
  position: relative; }

.post-content span {
  font-size: 12px;
  color: #999;
  position: absolute;
  right: -11.875rem;
  bottom: 0;
  width: 8.125rem; }

.post-content label {
  color: #9B9B9B;
  display: block;
  font-size: 13px;
  line-height: 1.4;
  position: absolute;
  right: -10rem;
  width: 8.75rem;
  bottom: 0.625rem; }

.post-content blockquote {
  padding: 0 1.25rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: block;
  border-left: 4px solid rgba(62, 165, 206, 0.2);
  font-family: "noto_serifitalic"; }
  .post-content blockquote p {
    font-size: 18px;
    font-family: "noto_serifitalic";
    color: #3EA5CE;
    margin-bottom: 0.3125rem;
    line-height: 1.3; }
    .post-content blockquote p:last-child {
      margin-bottom: 0; }
  .post-content blockquote figcaption {
    color: #3EA5CE;
    font-size: 13px; }
    .post-content blockquote figcaption:before {
      content: '-';
      display: inline-block;
      margin-right: 0.3125rem; }

.post-content img {
  width: 100%; }

.post-content section {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 2.5rem; }

.post-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.post-content hr {
  display: block;
  height: 4px;
  border: 0;
  padding: 0;
  background-color: #f5f5f5;
  width: 10rem;
  margin: 3.75rem auto; }

@media (min-width: 0px) and (max-width: 700px) {
  .post-template .grid-narrow {
    max-width: 100%; }
  .post .post-image, .post img {
    width: 100%;
    margin: 0 0 1.25rem 0; }
  .post img {
    margin-bottom: 0; }
  .post label {
    font-size: 12px; }
  .post blockquote {
    padding: 0.625rem 1.25rem; }
    .post blockquote p {
      font-size: 18px; }
    .post blockquote figcaption {
      font-size: 12px; }
  .post hr {
    margin: 2.125rem 0; } }

nav {
  left: 5rem;
  top: 50%;
  margin-top: -6.125rem;
  position: absolute;
  z-index: 10; }
  nav .logo {
    padding: 0; }
    nav .logo:hover {
      background-color: transparent; }
    nav .logo img {
      margin-bottom: 1.25rem;
      width: 10rem; }
  nav a {
    border-radius: 50px;
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-family: "open_sansbold";
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.875rem;
    text-align: center; }
    nav a:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #47E3C2;
      cursor: pointer;
      text-decoration: none; }

.pagination span, .pagination i {
  display: inline-block;
  vertical-align: middle; }

.pagination i {
  font-size: 24px; }

.pagination .pagination-prev,
.pagination .pagination-next {
  margin-top: 3.75rem;
  font-size: 13px;
  font-family: "open_sanssemibold";
  text-transform: uppercase;
  padding: 0.625rem 1rem 0.625rem 0.625rem; }

.pagination .pagination-next {
  float: right;
  padding: 0.625rem 0.625rem 0.625rem 1rem; }

.page-resources .content {
  padding-top: 2.5rem; }

.page-resources .section {
  margin-top: -10rem; }

.page-resources .feature {
  background-position: center -130px;
  background-size: 100% auto; }
  .page-resources .feature .feature-details {
    bottom: 8.125rem; }

.page-resources h1, .page-resources aside h1 {
  text-transform: uppercase;
  font-family: "open_sanslight";
  font-size: 13px; }

.page-resources h1 {
  font-size: 24px; }

.page-resources h2 {
  font-size: 20px;
  margin-bottom: 0.625rem; }

.page-resources ul, .page-resources li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px; }

.page-resources ul {
  margin-bottom: 1.875rem; }

.page-resources aside {
  width: 13.75rem;
  padding-left: 1.875rem; }
  .page-resources aside h1 {
    margin-top: 1.875rem; }
  .page-resources aside h1:first-child {
    margin-top: 0; }
  .page-resources aside h2 {
    font-size: 14px;
    font-family: "noto_serifregular";
    margin-bottom: 0.5rem;
    letter-spacing: 0; }
    .page-resources aside h2:hover {
      color: #3EA5CE;
      cursor: pointer; }

.page-resources ul {
  margin-bottom: 1.875rem;
  font-size: 14px;
  width: 100%; }
  .page-resources ul li {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: -1px;
    padding: 0.625rem 0; }
  .page-resources ul a {
    float: left;
    min-width: 12.5rem; }
  .page-resources ul span {
    display: block;
    margin-left: 12.5rem; }

.paper {
  background-color: #ffffff;
  padding: 2.5rem;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.caption {
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  padding: 1rem 1.5rem; }
